{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": [
        "airbnb-typescript"
      ]
    }
  ]
}